@font-face {
  font-family: Pop;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

:root {
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  font-family: Pop !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-grey);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  display: flex;
  background-color: var(--White);
  height: 420px;
  width: 420px;
  padding: 30px;
  border-radius: 15px;
  border-bottom-right-radius: 100px;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.input-form {
  display: flex;
}

.submeter {
  border-radius: 50px;
  height: 70px;
  width: 80px;
  align-items: center;
  padding: 0;
  background-color: hsl(228, 45%, 44%);
  position: absolute;
  left: 50%;
  top: 60%;
}
