@font-face {
  font-family: Pop;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  font-family: Pop !important;
}

body {
  background-color: var(--Light-grey);
}

.main {
  margin: 150px auto;
  background-color: var(--White);
  height: 350px;
  width: 450px;
  padding: 30px;
  border-radius: 15px;
  border-bottom-right-radius: 100px;
}

.form {
  position: relative;
  border-bottom: solid 1px var(--Light-grey);
}

.input-form input {
  width: 120px;
  padding: 0 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid var(--Light-grey);
  border-radius: 5px;
  color: var(--Off-black);
  font-weight: 700;
  font-size: 32px;
}

.input-form input::placeholder {
  color: var(--Smokey-grey);
  font-weight: 800;
}

.input-form {
  display: inline-block;
  width: 100px;
  height: 120px;
  margin-right: 36px;
}

.submeter {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  padding: 5px;
  background-color: var(--Purple);
  position: absolute;
  right: 10;
  bottom: -25px;
}

.submeter:hover {
  background-color: var(--Off-black);
}
img {
  height: 30px;
  width: 30px;
}
.label {
  color: var(--Smokey-grey);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 800;
}

.result {
  color: var(--Purple);
  display: inline-block;
}

h1:first-child {
  margin-top: 15px;
}

h1 {
  margin: 0 10px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 900;
  color: var(--Off-black);
}

/*Remover as setas do input form*/
.input-form input::-webkit-outer-spin-button,
.input-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-form input:hover {
  cursor: pointer;
  border-color: var(--Purple);
}

.input-form input:focus {
  border-color: var(--Purple);
  outline: none;
  color: var(--Purple);
}

/* Demo Styling error */
.error {
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size: 9px;
  color: var(--Light);
  visibility: hidden;
}
